body{
    background-color: bisque;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

header > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30vw;
    width: 15vw;
}

footer > div > img{
    height: 10vw;
    width: 5vw;
}

nav ul{
    list-style: none;
    text-align: center;
    padding: 0vw
}

nav li{
    display: inline-block;
}

section{
    display: flex;
}

article{
    flex: 1;
}

footer{
    display: flex;
    margin-top: 5vw;
    align-items: center;
}

footer > div{
    flex: 1;
    text-align: center;
}

nav > ul > li{
    padding: 5vw;
}